* {
  margin: 0;
}

html, body {
  height: 100%;
  background-color: white;
  font-family: sans-serif;
  overflow: hidden;
}

#main {
  height: 100%;
  width: 100%;
}

.control {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.control button {
  font-size: 30px;
  padding: 8px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.banner.bold {
  font-weight: 900;
}

.banner > div {
  white-space: pre !important;
}

.settings {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border: gray solid 1px;
  border-radius: 5px;
}

label {
  display: inline-block;
  font-size: x-large;
  margin: 10px 0;
}