* {
  margin: 0;
}

html, body {
  height: 100%;
  background-color: white;
  font-weight: 900;
  font-family: sans-serif;
  overflow: hidden;
}

#main {
  height: 100%;
  width: 100%;
}

.control {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.control button {
  font-size: 30px;
  padding: 8px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.banner > div {
  white-space: pre !important;
}
